<div class="wrapper">
    <div class="pad_left1">
        <div class="wrapper">
            <article class="col_1 pad_left1">
                <h3>Endereço:</h3>
                <p class="col_address">
                    <strong>Rua:
                        <br> Bairro:
                        <br> Cidade:
                        <br> Estado:
                    </strong>
                </p>
                <p>Rua Benjamin Constant 439
                    <br> Nacional
                    <br> Contagem
                    <br> Minas Gerais
                </p>
            </article>
            <article class="col_1 pad_left2">
                <h3>Fale Conosco:</h3>
                <p class="col_address">
                    <strong>Email:
                        <br />Telefone
                    </strong>
                </p>
                <p>colegiocec@outlook.com
                    <br />(31) 3354-3027
                </p>
                Copyright &copy;
                <a href="#">ceccolegio.com.br</a><br />Todos direitos reservados
                <br> Design by
                <a target="_blank" href="http://www.riw.com.br/">RIW</a>
            </article>
            <article class="col_1 pad_left1">
                <h3>Direção:</h3>
                <p class="col_address">
                    <strong>Diretoras:
                        <br /><br /><br />
                        Coordenação:
                        <br /><br />
                        Secretaria:
                        <br /><br />
                    </strong>
                </p>
                <p>Marinês Vieria
                    <br />Marina Vieira Costa
                    <br />Marilda Vieira knaip
                    <br />
                    <br />Breno Augusto Silveira
                    <br />
                    <br />Fernanda Lucas de Andrade
                    <br />Aparecida de Paula Nogueira de Andrade
                </p>
            </article>
        </div>
    </div>
</div>