<div class="wrapper">
    <div class="pad1">
        <div class="pad_left1">
            <div class="wrapper">
                <article class="col_1">
                    <h3>Endereço:</h3>
                    <p class="col_address">
                        <strong>Rua:
                            <br> Bairro:
                            <br> Cidade:
                            <br> Estado:
                        </strong>
                    </p>
                    <p>Rua Benjamin Constant 439
                        <br> Nacional
                        <br> Contagem
                        <br> Minas Gerais
                    </p>
                </article>
                <article class="col_4 pad_left2">
                    <h3>Ligue:</h3>
                    <article class="call">
                        <span class="call2">(31) 3354-3027</span>
                    </article>
                </article>
                <article class="col_2 pad_left2">
                    Copyright &copy;
                    <a href="#">Domain Name</a> Todos direitos reservados
                    <br> Design by
                    <a target="_blank" href="http://www.riw.com.br/">RIW</a>
                </article>
            </div>
        </div>
    </div>
</div>