<div class="wrapper">
    <div class="pad1">
        <div class="pad_left1">
            <div class="wrapper">
                <div class="wrapper">
                    <article class="call"> <span class="call1">Fale Conosco: </span><span class="call2">(31)
                            3354-3027</span>
                    </article>
                    <article class="col_3 pad_left2">Copyright &copy; <a href="#">ceccolegio.com.br</a> Todos
                        direitos reservados<br>
                        Design by <a target="_blank" href="http://www.riw.com.br/">RIW</a></article>
                </div>
            </div>
        </div>
    </div>
</div>