<div class="body1">
    <div class="main">
        <!-- header -->
        <header>
            <div class="wrapper">
                <nav>
                    <ul id="menu">
                        <li>
                            <a href="/">QUEM SOMOS</a>
                        </li>
                        <li class="end">
                            <a href="#">Contatos</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="wrapper">
                <h1><a href="/" id="logo">Colégio CEC</a></h1>
            </div>
            <div id="slogan"> O melhor Colégio
                <span>pertinho de sua casa!</span>
            </div>
        </header>
        <!-- / header -->
    </div>
</div>
<div class="body2">
    <div class="main">
        <!-- content -->
        <section id="content">
            <br />
            <div class="box1">
                <div class="wrapper">
                    <article class="col3">
                        <div class="pad_left1">
                            <h2>Formulário para contato</h2>
                            <form id="ContactForm" action="#">
                                <div>
                                    <div class="wrapper"> <strong>Nome:</strong>
                                        <div class="bg">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                    <div class="wrapper"> <strong>Email:</strong>
                                        <div class="bg">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                    <div class="wrapper"> <strong>Assunto:</strong>
                                        <div class="bg">
                                            <input type="text" class="input">
                                        </div>
                                    </div>
                                    <div class="textarea_box"> <strong>Texto:</strong>
                                        <div class="bg">
                                            <textarea name="textarea" cols="1" rows="1"></textarea>
                                        </div>
                                    </div>
                                    <a href="#" class="button"><span><span>Enviar</span></span></a> <a href="#" class="button"><span><span>Limpar</span></span></a>
                                </div>
                            </form>
                        </div>
                    </article>
                    <article class="col2 pad_left2">
                        <div class="pad_left1">
                            <h2>Localização</h2>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.7760838847107!2d-44.02672008452238!3d-19.84942514093588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa693d477803045%3A0x9891707e609901e4!2sR.+Benjamin+Constant%2C+439+-+Pedra+Azul%2C+Contagem+-+MG%2C+32185-020!5e0!3m2!1spt-BR!2sbr!4v1535900661704"
                                width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </article>
                </div>
            </div>
            <div class="wrapper">
                <div class="pad1 pad_top1">
                    <h6>&nbsp; <i>Parceiros:</i></h6>
                    <article class="cols marg_right1">
                        <figure>
                            <a href="#">
                                <img src="images/rildoseg_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                    <article class="cols marg_right1">
                        <figure>
                            <a href="#">
                                <img src="images/granfarma_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                    <article class="cols">
                        <figure>
                            <a href="#">
                                <img src="images/ct_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                </div>
            </div>
        </section>
        <!-- content -->
        <!-- footer -->
        <footer>
            {{>footer}}
        </footer>
        <!-- / footer -->
    </div>
</div>