<div class="body1">
    <div class="main">
        <!-- header -->
        <header>
            <div class="wrapper">
                <nav>
                    <ul id="menu">
                        <li>
                            <a href="/">QUEM SOMOS</a>
                        </li>
                        <li class="end">
                            <a href="/contatos">Contatos</a>
                        </li>
                    </ul>
                </nav>
                <ul id="icon">
                    <li>
                        <a href="#" title="Facebook">
                            <img src="images/icon1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Whatsapp">
                            <img src="images/icon2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Tweeter">
                            <img src="images/icon3.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wrapper">
                <h1><a href="/" id="logo">Colégio CEC</a></h1>
            </div>
            <div id="slogan"> O melhor Colégio
                <span>pertinho de sua casa!</span>
            </div>
            <ul class="banners">
                <li>
                    <div class="banner1">
                        <span class="font1">Ensino Infantil</span>
                    </div>
                </li>
                <li>
                    <div class="banner2">
                        <span class="font1">
                            Ensino Fundamental I e II</span>
                    </div>
                </li>
                <li>
                    <div class="banner3">
                        <span class="font1">Ensino Médio</span>
                    </div>
                </li>
            </ul>
        </header>
        <!-- / header -->
    </div>
</div>
<div class="body2">
    <div class="main">
        <!-- content -->
        <section id="content">
            <br />
            <div class="box1">
                <div class="wrapper">
                    <article class="col1">
                        <div class="pad_left1">
                            <h2>Princípios educacionais</h2>
                            <p>
                                O objetivo da educação é contribuir para a formação de cidadãos íntegros e ativos,
                                socialmente responsáveis,
                                preparados para transformar a sociedade criando melhores condições de vida para si e
                                para os outros, fazendo parte
                                das ações transformadoras na sociedade e ajudando na construção de um mundo melhor para
                                se viver.
                            </p>
                            <h2>Missão</h2>
                            <p>
                                Participar da vida do aluno incorporado nele os valões cristãos, e contribuindo para a
                                sua integração consigo mesmo,
                                com o outro e com o mundo, e possuir alto padrão de competitividade.
                            </p>
                            <h2>Visão</h2>
                            <p>
                                Ser reconhecido como um Colégio transmissor de um ensino de elevado padrão de
                                qualidade, visando a formação
                                integral do aluno, tornando-o sujeito transformador da sociedade.
                            </p>
                        </div>
                    </article>
                    <article class="col2 pad_left2">
                        <div class="pad_left1">
                            <h2>Ensinos</h2>
                        </div>
                        <ul class="list1">
                            <li>
                                <a href="#ex1" rel="modal:open">Infantil</a>
                            </li>
                            <li>
                                <a href="#ex2" rel="modal:open">Ensino Fundamental I</a>
                            </li>
                            <li>
                                <a href="#ex3" rel="modal:open">Ensino Fundamental II</a>
                            </li>
                            <li>
                                <a href="#ex4" rel="modal:open">Ensino Médio</a>
                            </li>
                        </ul>
                    </article>
                    <article class="col2 pad_left2">
                        <div class="pad_left1">
                            <h2>Valores</h2>
                        </div>
                        <ul class="list2">
                            <li>
                                <a href="#" onclick="return false">Valores éticos e morais</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false">Ser humano</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false">Educação transformadora</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false">Educação transformadora</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false">Sustentabilidade</a>
                            </li>
                            <li>
                                <a href="#" onclick="return false">Inovação</a>
                            </li>
                        </ul>
                    </article>
                </div>
            </div>
            <div class="wrapper">
                <div class="pad_top1">
                    <h6>&nbsp; <i>Parceiros:</i></h6>
                    <article class="cols marg_right1">
                        <figure>
                            <a href="https://www.rildosegurancaeletronica.com.br" target="_blank">
                                <img src="images/rildoseg_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                    <article class="cols marg_right1">
                        <figure>
                            <a href="https://www.instagram.com/granfarma" target="_blank">
                                <img src="images/granfarma_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                    <article class="cols">
                        <figure>
                            <a href="http://www.coretinta.com.br/" target="_blank">
                                <img src="images/ct_logo.png" alt="">
                            </a>
                        </figure>
                    </article>
                </div>
            </div>
        </section>
        <!-- content -->
        <!-- footer -->
        <!--<footer> -->
        <!-- {{>footer}} -->
        <!-- </footer> -->
        <!-- / footer -->
    </div>
</div>

<div id="ex1" class="modal">
    <p>Na educação infantil, são desenvolvidos projetos que tornam o processo de aprendizagem ainda mais significativo
        para nossos alunos.</p>
    <ul>
        <li><strong>SÉRIES E IDADES</strong></li>
        <li>Maternal II: 2 anos</li>
        <li>Maternal III: 3 anos</li>
        <li>1º Período: 4 anos</li>
        <li>2º Período: 5 anos</li>
    </ul>
    <br />
    <a href="#" rel="modal:close">Fechar</a>
</div>

<div id="ex2" class="modal">
    <p>O Ensino Fundamental I trabalha com a formação educacional, com ênfase nos valores éticos e morais, cuidando
        sempre do desenvolvimento integral do aluno.</p>
    <ul>
        <li><strong>SÉRIES E IDADES</strong></li>
        <li>1º ano: 6 anos</li>
        <li>2º ano: 7 anos</li>
        <li>3º ano: 8 anos</li>
        <li>4º ano: 9 anos</li>
        <li>5º ano: 10 anos</li>
    </ul>
    <br />
    <a href="#" rel="modal:close">Fechar</a>
</div>

<div id="ex3" class="modal">
    <p>O Ensino fundamental II mantém sua qualidade em níveis de excelência, cuidando sempre do desenvolvimento
        integral do aluno.</p>
    <ul>
        <li><strong>SÉRIES E IDADES</strong></li>
        <li>6º ano: 11 anos</li>
        <li>7º ano: 12 anos</li>
        <li>8º ano: 13 anos</li>
        <li>9º ano: 14 anos</li>
    </ul>
    <br />
    <a href="#" rel="modal:close">Fechar</a>
</div>

<div id="ex4" class="modal">
    <p>O Ensino Médio proporciona aos alunos o desenvolvimento de competências múltiplas e necessárias para o
        prosseguimento nos estudos e futuro ingresso no mercado de trabalho.</p>
    <ul>
        <li><strong>SÉRIES E IDADES</strong></li>
        <li>1ª Série: 15 anos</li>
        <li>2ª Série: 16 anos</li>
        <li>3ª Série: 17 anos</li>
    </ul>
    <br />
    <a href="#" rel="modal:close">Fechar</a>
</div>