<div class="body1">
    <div class="main">
        <!-- header -->
        <header>
            <div class="wrapper">
                <nav>
                    <ul id="menu">
                        <li>
                            <a href="/">QUEM SOMOS</a>
                        </li>
                        <li class="end">
                            <a href="contacts.html">Contatos</a>
                        </li>
                    </ul>
                </nav>
                <ul id="icon">
                    <li>
                        <a href="#" title="Facebook">
                            <img src="images/icon1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Whatsapp">
                            <img src="images/icon2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Tweeter">
                            <img src="images/icon3.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wrapper">
                <h1>
                    <a href="index.html" id="logo">Learn Center</a>
                </h1>
            </div>
            <div id="slogan"> O melhor Colégio
                <span>pertinho de sua casa!</span>
            </div>
            <ul class="banners">
                <li>
                    <a href="#">
                        <img src="images/banner1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/banner2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="images/banner3.jpg" alt="">
                    </a>
                </li>
            </ul>
        </header>
        <!-- / header -->
    </div>
</div>
<div class="body2">
    <div class="main">
        <!-- content -->
        <section id="content">
            <div class="wrapper">
                <div class="pad1 pad_top1">
                    <article class="cols marg_right1">
                        <figure>
                            <a href="#">
                                <img src="images/page1_img2.jpg" alt="">
                            </a>
                        </figure>
                        <span class="font1">Ensino Infantil</span>
                    </article>
                    <article class="cols marg_right1">
                        <figure>
                            <a href="#">
                                <img src="images/page1_img3.jpg" alt="">
                            </a>
                        </figure>
                        <span class="font1">Ensino Fundamental I e II</span>
                    </article>
                    <article class="cols">
                        <figure>
                            <a href="#">
                                <img src="images/page1_img1.jpg" alt="">
                            </a>
                        </figure>
                        <span class="font1">Ensino Médio</span>
                    </article>
                </div>
            </div>
            <div class="box1">
                <div class="wrapper">
                    <article class="col1">
                        <div class="pad_left1">
                            <h2>Bem vindo ao nosso website</h2>
                            <p class="font2">Entrar com uns dizeres aqui
                                <span>e talvez um pouco mais aqui...</span>
                            </p>
                            <p>
                                <strong>Learn Center Template</strong> is optimized for 1024X768 screen resolution. It’s also XHTML
                                &amp; CSS valid. This website template has several pages:
                                <a href="courses.html">Courses</a>,
                                <a href="programs.html">Programs</a>,
                                <a href="teachers.html">Teachers</a>,
                                <a href="admissions.html">Admissions</a>,
                                <a href="contacts.html">Contacts</a> (note that contact us form – doesn’t work).</p>
                        </div>
                        <div class="pad_left1">
                            <h2>Abordagem individual para EDUCAÇÃO!</h2>
                        </div>
                        <div class="wrapper">
                            <figure class="left marg_right1">
                                <img src="images/page1_img4.jpg" alt="">
                            </figure>
                            <p class="pad_bot1 pad_top2">
                                <strong>Lorem ipsum dolor sit amet, consectetur adipisicing eiusmod tempor incididunt ut labore.</strong>
                            </p>
                            <p> Learn Center Template goes with two packages – with PSD source files and without them. PSD source
                                files are available for free for the registered members of Templates.com. The basic package
                                (without PSD source is available for anyone without registration).</p>
                        </div>
                    </article>
                    <article class="col2 pad_left2">
                        <div class="pad_left1">
                            <h2>New Programs</h2>
                        </div>
                        <ul class="list1">
                            <li>
                                <a href="#">International Studies</a>
                            </li>
                            <li>
                                <a href="#">Models &amp; Language Reaching</a>
                            </li>
                            <li>
                                <a href="#">Public School Facts</a>
                            </li>
                            <li>
                                <a href="#">State Testing Data</a>
                            </li>
                            <li>
                                <a href="#">Education Jobs</a>
                            </li>
                        </ul>
                        <div class="pad_left1">
                            <h2>Acontecendo</h2>
                        </div>
                        <div class="wrapper">
                            <span class="date">27</span>
                            <p class="pad_top2">
                                <a href="#">April, 2011</a>
                                <br> Sed utirspiciatis unde omnis iste natus error sit...</p>
                        </div>
                        <div class="wrapper">
                            <span class="date">25</span>
                            <p class="pad_top2">
                                <a href="#">April, 2011</a>
                                <br> Voluptatem accusan dolore mque laudantium...</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <!-- content -->
        <!-- footer -->
        <footer>
            {{>footer}}
        </footer>
        <!-- / footer -->
    </div>
</div>